@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2 class="mt-4 mb-4 text-center">Engineers</h2>
<hr />

@if (@Model.Count == 0)
{
  <h5>No engineers have been added yet!</h5>
} 

<ul>
  @foreach(Engineer engineer in Model)
  {
      @Html.ActionLink($"{engineer.FirstName} {engineer.LastName} |  Id: {engineer.EngineerId}", "Details", new { id = engineer.EngineerId })<br />
  } 
</ul>

<button class="btn btn-light mt-5">@Html.ActionLink("Add new engineer", "Create")</button>
