@{
  Layout = "_Layout";
}

<h1 class="mt-4 mb-4 text-center">Welcome to Factory Website!</h1>
<p class="h5">@Html.ActionLink("See all machines", "Index", "machines")</p> 
<p class="h5">@Html.ActionLink("See all engineers", "Index", "engineers")</p>